# Imports

In [20]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import numpy as np
from datetime import datetime as dt
# import datetime as dt
from scheduler import Scheduler
import scheduler.trigger as trigger

# Doen Dresses

## Extract

In [21]:
# Sold Doen Dresses
url = 'https://poshmark.com/search?query=Doen&brand%5B%5D=Doen&availability=sold_out&department=Women&category=Dresses'

response = requests.get(url)
# response.status_code
html = response.text
soup = BeautifulSoup(html, "html.parser")

## Transform

### Set dress styles

In [22]:
# Dresses
dresses = [
    "Ischia", "Marianne", "Rosaria", "Lisbeth", "Wilmina",
    "Aurora", "Delphine", "Clara", "Sabine", "Odette",
    "Evelyn", "Juliette", "Amelie", "Camille", "Vera",
    "Fiona", "Nina", "Corinne", "Helene", "Lucille",
    "Margot", "Anya", "Freya", "Sylvie", "Celine",
    "Daphne", "Iris", "Luna", "Flora", "Amara",
    "Maeve", "Adelaide", "Ophelia", "Scarlett", "Viola",
    "Anastasia", "Claudia", "Elise", "Matilda", "Eloise",
    "Gwendolyn", "Ivy", "Cecilia", "Esme", "Tessa",
    "Madeleine", "Poppy", "Adele", "Serena", "Genevieve",
    "Lorraine", "Merla", "Narcisse", "Augustina", "Sabrina",
    "Alessandra", "Leyah", "Guinevere", "Francetta", "Kaira",
    "Raquella", "Pamelina", "Quinn", "Celestine", "Emmaretta",
    "Piper", "Violetta", "Noisette", "Franique", "Sera",
    "Lovisa", "Rhodia", "Gladys"
]


dresses = [x.lower() for x in dresses]
dresses = [x +' ' for x in dresses] # add a space after the name to exlude partial matches

### Create Dataframe

In [23]:
titles = soup.select(".tile__title") # listing title
prices = soup.select(".fw--bold") # sold price
sizes = soup.select(".ellipses.tile__details__pipe__size") # Size

attribs = ['title','price','size','category','style']
df = pd.DataFrame(columns = attribs)


for x in range(len(titles)):
    title = str.lower(titles[x].text.strip())
    price = float(prices[x].text.strip()[1:])
    size = sizes[x].text.strip()[6:]
    
    style = None
    for dress in dresses:
        if dress in title:
            style = dress
            break # stop after the first match 
    
    data_dict = {'title':title,
                 'price':price,
                 'size':size,
                 'category':"dress",
                 'style':style}
    
    df1 = pd.DataFrame(data_dict,index=[0])
    df = pd.concat([df,df1], axis =0,ignore_index= True)

/var/folders/8p/wjrnxtq910g62m0r4449h6zr0000gn/T/ipykernel_6472/3327822001.py:27: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df,df1], axis =0,ignore_index= True)

In [24]:
df.head()

,title,price,size,category,style
0,⚡️cco sale⚡️ doen malta floral belted corduroy...,75.0,M,dress,None
1,doen victorie maxi dress in mirbeau garden flo...,200.0,M,dress,None
2,doen celestine red velvet heirloom dress nwt new,489.0,S,dress,celestine
3,doen preston liberty floral midi maxi tie wast...,200.0,M,dress,None
4,doen emmaretta floral midi maxi dress,195.0,M,dress,emmaretta

## Load

In [25]:
# Write to CSV
timestamp_format = '%Y-%h-%d-%H:%M:%S'
now = dt.now()
timestamp = now.strftime(timestamp_format)
df['ingest_timestamp'] = timestamp

file_timestamp_format = '%Y%m%d_%H-%M-%S'
file_timestamp = now.strftime(file_timestamp_format)

df.to_csv(f'data/doen_dresses_{file_timestamp}.csv',index=False)

# Log process
message = "Doen Dresses Logged"
with open("scrape_log.txt","a") as file:
    file.write(timestamp + " " + message + '\n')

# Doen Tops

## Extract

In [26]:
# Sold Doen Tops
url = 'https://poshmark.com/brand/Doen-Women-Tops?availability=sold_out'
response = requests.get(url)
# response.status_code
html = response.text
soup = BeautifulSoup(html, "html.parser")

## Transform

### Set Styles

In [27]:
# Tops
tops = [
    "Henri", "Anisa", "Emiliana", "Ingrid", "Joelle",
    "Celeste", "Faye", "Gabrielle", "Juliana", "Odessa",
    "Viola", "Monique", "Sophie", "Claudine", "Elena",
    "Leona", "Paloma", "Bianca", "Marisol", "Estelle",
    "Inez", "Lorena", "Delilah", "Jocelyn", "Amara",
    "Colette", "Marielle", "Florelle", "Adeline", "Renee",
    "Sabrina", "Fleur", "Noemi", "Simone", "Vera",
    "Natalia", "Yvette", "Clarisse", "Odile", "Beatrice",
    "Camilla", "Tatiana", "Nadia", "Cleo", "Lydia",
    "Josephine", "Evelina", "Lucia", "Freya", "Marion",
    "Scarlet", "Jane", "June", "Lille", "Fidella", "Frederica",
    "Anaya", "Idella", "Baptisia", "Eldoris", "Camri",
    "Jacey", "Leia", "Amaline", "Solange", "Evette",
    "Lois", "Alida", "Ashby", "Nerida", "Agotha",
    "Frances", "Paola", "Vivienne"
]

tops = [x.lower() for x in tops]
tops = [x +' ' for x in tops] # add a space after the name to exlude partial matches

### Create Dataframe

In [28]:
titles = soup.select(".tile__title") # listing title
prices = soup.select(".fw--bold") # sold price
sizes = soup.select(".ellipses.tile__details__pipe__size") # Size

attribs = ['title','price','size','category','style']
df = pd.DataFrame(columns = attribs)


for x in range(len(titles)):
    title = str.lower(titles[x].text.strip())
    price = float(prices[x].text.strip()[1:])
    size = sizes[x].text.strip()[6:]
    
    style = None
    for top in tops:
        if top in title:
            style = top
            break # stop after the first match 
    
    data_dict = {'title':title,
                 'price':price,
                 'size':size,
                 'category':"top",
                 'style':style}
    
    df1 = pd.DataFrame(data_dict,index=[0])
    df = pd.concat([df,df1], axis =0,ignore_index= True)

/var/folders/8p/wjrnxtq910g62m0r4449h6zr0000gn/T/ipykernel_6472/746729972.py:27: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df,df1], axis =0,ignore_index= True)

In [29]:
df

,title,price,size,category,style
0,doen fidella sleeveless blouse salt top new nwt,118.0,M,top,fidella
1,doen lois tank top new nwt,95.0,M,top,lois
2,doen seine rosebud tank new nwt,95.0,L,top,None
3,doen agotha top,130.0,XS,top,agotha
4,doen vera top in salt xs,125.0,XS,top,vera
5,doen viola black and white floral ruffled top ...,90.0,L,top,viola
6,dôen lille top in monte isola stripe,100.0,XS,top,lille
7,the jane blouse,80.0,S,top,jane
8,"dôen alida top, countryside\npatchwork print",95.0,S,top,alida
9,doen sparrow top cream seafarer stripe,85.0,S,top,None
10,doen ashby cotton pointelle turtleneck black/ m,120.0,M,top,ashby
11,new doen nerida top in ivory small,116.0,S,top,nerida
12,doen frederica top in alice blue size xxs,140.0,XXS,top,frederica
13,doen pirouette top medium,95.0,M,top,None
14,dôen minou pointelle turtleneck silk alpaca do...,100.0,M,top,None
15,nwt doen docia henri taylor eyelet lace puff s...,92.0,XS,top,henri
16,dòen flowered blouse of good size,90.0,L,top,None
17,doen blouse,67.0,M,top,None
18,"doen ariste top in golden mesa flor, xs",110.0,XS,top,None
19,doen alida countryside patchwork puff sleeve c...,180.0,XS,top,alida
20,doen pointelle organic cotton mock neck m,100.0,M,top,None
21,doen frances top,87.0,M,top,frances
22,doen rose blouse in sissinghurst floral 🌸,90.0,M,top,None
23,"doen simone top in mother of pearl, brand new ...",250.0,XS,top,simone
24,doen paola tee striped red size small s,75.0,S,top,paola
25,doen black albertine blouse top size xl,130.0,XL,top,None
26,new with tags doen tonya top in dahlia ikat si...,50.0,L,top,None
27,dôen june top in moss size small,60.0,S,top,june
28,dôen jane blouse in traveler block print off-w...,150.0,XS,top,jane
29,dôen jane blouse in tierra cotton viscose size...,148.0,XS,top,jane
30,dôen jane blouse in sky somerset plaid organic...,158.0,XXS,top,jane
31,dôen jane blouse in rossendale valley plaid re...,148.0,XS,top,jane
32,dôen jane blouse pink sunflower block print or...,125.0,XS,top,jane
33,dôen jane blouse in navy somerset plaid organi...,158.0,XXS,top,jane
34,dôen jane blouse in navy bisou floral organic ...,155.0,XS,top,jane
35,dôen jane blouse in moss organic cotton viscos...,148.0,XS,top,jane
36,dôen jane blouse in midnight st. germain plaid...,148.0,XS,top,jane
37,dôen jane blouse in la maddalena gingham organ...,149.0,XS,top,jane
38,dôen jane blouse in indigo stripe blue pattern...,158.0,XS,top,jane
39,dôen jane blouse in dusty teal cotton viscose ...,148.0,XS,top,jane
40,dôen jane blouse dusty teal cotton viscose siz...,141.0,XS,top,jane
41,dôen jane blouse in desert blooms block print ...,149.0,S,top,jane
42,dôen jane blouse in desert blooms block print ...,149.0,XS,top,jane
43,dôen jane blouse in berry bisou floral organic...,158.0,XS,top,jane
44,dôen jane blouse in azure french plaid organic...,159.0,XXS,top,jane
45,doen scarlet top in golden hour paisley size s...,64.0,S,top,scarlet
46,doen | the jane blouse- blue primrose floral |...,190.0,M,top,jane
47,doen vivienne tee long sleeve pointelle salt m,80.0,M,top,vivienne

## Load

In [30]:
# Write to CSV
timestamp_format = '%Y-%h-%d-%H:%M:%S'
now = dt.now()
timestamp = now.strftime(timestamp_format)
df['ingest_timestamp'] = timestamp

file_timestamp_format = '%Y%m%d_%H-%M-%S'
file_timestamp = now.strftime(file_timestamp_format)

df.to_csv(f'data/doen_tops_{file_timestamp}.csv',index=False)

# Log process
message = "Doen Tops Logged"
with open("scrape_log.txt","a") as file:
    file.write(timestamp + " " + message + '\n')

# Doen Skirts

## Extract

In [31]:
# Sold Doen Skirts
url = 'https://poshmark.com/brand/Doen-Women-Skirts?availability=sold_out'
response = requests.get(url)
# response.status_code
html = response.text
soup = BeautifulSoup(html, "html.parser")

## Transform

### Set Styles

In [32]:
# Skirts
skirts = [
    "Elowen", "Sebastiane", "Raina", "Beatrice", "Florence",
    "Odile", "Esther", "Giselle", "Clementine", "Simone",
    "Aurora", "Emmeline", "Coralie", "Juliet", "Isadora",
    "Felicity", "Lucia", "Vivienne", "Celestine", "Anais",
    "Noelle", "Gabriella", "Liliana", "Violette", "Rosalind",
    "Allegra", "Seraphina", "Eleanor", "Arden", "Madeleine",
    "Sophia", "Helena", "Marguerite", "Arabelle", "Isla",
    "Delphine", "Anouk", "Carys", "Evangeline", "Maris",
    "Odessa", "Viola", "Lenore", "Selene", "Camille",
    "Amelie", "Liora", "Fiona", "Adria", "Melisande","Elowena",
    "Nandi","Cheri","Fabienne","Rieti","Sanremo"
]

skirts = [x.lower() for x in skirts]
# skirts = [x +' ' for x in skirts] # add a space after the name to exlude partial matches

### Create Dataframe

In [33]:
titles = soup.select(".tile__title") # listing title
prices = soup.select(".fw--bold") # sold price
sizes = soup.select(".ellipses.tile__details__pipe__size") # Size

attribs = ['title','price','size','category','style']
df = pd.DataFrame(columns = attribs)


for x in range(len(titles)):
    title = str.lower(titles[x].text.strip())
    price = float(prices[x].text.strip()[1:])
    size = sizes[x].text.strip()[6:]
    
    style = None
    for skirt in skirts:
        if skirt in title:
            style = skirt
            break # stop after the first match 
    
    data_dict = {'title':title,
                 'price':price,
                 'size':size,
                 'category':"skirt",
                 'style':style}
    
    df1 = pd.DataFrame(data_dict,index=[0])
    df = pd.concat([df,df1], axis =0,ignore_index= True)

/var/folders/8p/wjrnxtq910g62m0r4449h6zr0000gn/T/ipykernel_6472/1613183247.py:27: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df,df1], axis =0,ignore_index= True)

In [34]:
df

,title,price,size,category,style
0,"doen elowena skirt in villette paisley, brand ...",170.0,S,skirt,elowen
1,"doen sebastiane lace skirt in black, brand new...",180.0,S,skirt,sebastiane
2,doen nandi skirt in daffodil yellow,168.0,Various,skirt,nandi
3,"doen sebastiane lace skirt in black, brand new...",180.0,XS,skirt,sebastiane
4,nwt doen elowen skirt in deep navy sz m,220.0,M,skirt,elowen
5,"doen elowen, small, vguc",200.0,S,skirt,elowen
6,doen sebastiane skirt in powder,160.0,S,skirt,sebastiane
7,"doen cheri skirt, size 6, deep navy",140.0,6,skirt,cheri
8,"doen skirt , black, size 8",178.0,8,skirt,None
9,fabienne skirt\nin navy countryside plaid\nsize m,250.0,M,skirt,fabienne
10,doen elowen 100% silk skirt in rose hillside h...,200.0,M,skirt,elowen
11,doen buttercup dress in black winter ditsy pri...,127.0,S,skirt,None
12,nwt gap × dôen eyelet midi skirt,75.0,L,skirt,None
13,doen skirt,150.0,S,skirt,None
14,nwt dôen sebastiane skirt in powder,163.0,M,skirt,sebastiane
15,nwot doen sebastiane lace skirt,185.0,M,skirt,sebastiane
16,doen rieti skirt - s - salt,180.0,S,skirt,rieti
17,sebastiane skirt in salt,149.0,S,skirt,sebastiane
18,doen printed midi length wrap skirt size xl,125.0,XL,skirt,None
19,doen sebastiane skirt - white - large,110.0,L,skirt,sebastiane
20,doen elowen skirt and amora top,325.0,S,skirt,elowen
21,doen silk skirt,97.0,L,skirt,None
22,doen amalfi skirt,175.0,M,skirt,None
23,doen sanremo skirt nwt,120.0,S,skirt,sanremo
24,doen midi floral skirt,65.0,XS,skirt,None
25,doen sz xs sebastiane skirt midi scalloped ivo...,140.0,XS,skirt,sebastiane
26,doen elowen skirt,185.0,XS,skirt,elowen
27,dôenelowen silk lace-trim skirt blue,180.0,XS,skirt,elowen
28,dôen sebastiane skirt in la maddalena gingham xl,175.0,XL,skirt,sebastiane
29,doen julep wrap handkerchief hem skirt in blac...,140.0,S,skirt,None
30,"doen sabina embroidered a-line full skirt, whi...",55.0,XXL,skirt,None
31,nwt dôen sebastiane skirt in powder,150.0,M,skirt,sebastiane
32,dôen elowen silk midi skirt in rose hillside f...,150.0,S,skirt,elowen
33,sebastiane skirt,200.0,M,skirt,sebastiane
34,doen elowen skirt in dusty blue,227.0,M,skirt,elowen
35,doen sebastiane skirt black small,148.0,S,skirt,sebastiane
36,nwt dôen sanremo skirt size xl,50.0,XL,skirt,sanremo
37,paris style white skirt,84.0,XS,skirt,None
38,pink skirt,60.0,XS,skirt,None
39,doen elowen silk skirt bleu wildflower thicket,200.0,M,skirt,elowen
40,"doen elowen, pink, small",160.0,S,skirt,elowen
41,"doen elowena skirt in camille dot, small",250.0,S,skirt,elowen
42,doen sebastiane skirt sz small,185.0,S,skirt,sebastiane
43,doen sebastian skirt in powder white sz large,225.0,L,skirt,None
44,doen georgina skirt in salt,110.0,S,skirt,None
45,doen sebastiane skirt,150.0,S,skirt,sebastiane
46,doen elowen skirt in cornwall plaid size s,265.0,S,skirt,elowen
47,dôen x gap midi skirt,20.0,S,skirt,None

## Load

In [35]:
# Write to CSV
timestamp_format = '%Y-%h-%d-%H:%M:%S'
now = dt.now()
timestamp = now.strftime(timestamp_format)
df['ingest_timestamp'] = timestamp

file_timestamp_format = '%Y%m%d_%H-%M-%S'
file_timestamp = now.strftime(file_timestamp_format)

df.to_csv(f'data/doen_skirts_{file_timestamp}.csv',index=False)

# Log process
message = "Doen Skirts Logged"
with open("scrape_log.txt","a") as file:
    file.write(timestamp + " " + message + '\n')

# Utilities

## Product Style Names

In [36]:
# # Tops
# tops = [
#     "Henri", "Anisa", "Emiliana", "Ingrid", "Joelle",
#     "Celeste", "Faye", "Gabrielle", "Juliana", "Odessa",
#     "Viola", "Monique", "Sophie", "Claudine", "Elena",
#     "Leona", "Paloma", "Bianca", "Marisol", "Estelle",
#     "Inez", "Lorena", "Delilah", "Jocelyn", "Amara",
#     "Colette", "Marielle", "Florelle", "Adeline", "Renee",
#     "Sabrina", "Fleur", "Noemi", "Simone", "Vera",
#     "Natalia", "Yvette", "Clarisse", "Odile", "Beatrice",
#     "Camilla", "Tatiana", "Nadia", "Cleo", "Lydia",
#     "Josephine", "Evelina", "Lucia", "Freya", "Marion"
# ]

# # Skirts
# skirts = [
#     "Elowen", "Sebastiane", "Raina", "Beatrice", "Florence",
#     "Odile", "Esther", "Giselle", "Clementine", "Simone",
#     "Aurora", "Emmeline", "Coralie", "Juliet", "Isadora",
#     "Felicity", "Lucia", "Vivienne", "Celestine", "Anais",
#     "Noelle", "Gabriella", "Liliana", "Violette", "Rosalind",
#     "Allegra", "Seraphina", "Eleanor", "Arden", "Madeleine",
#     "Sophia", "Helena", "Marguerite", "Arabelle", "Isla",
#     "Delphine", "Anouk", "Carys", "Evangeline", "Maris",
#     "Odessa", "Viola", "Lenore", "Selene", "Camille",
#     "Amelie", "Liora", "Fiona", "Adria", "Melisande"
# ]

# # Pants
# pants = [
#     "Diana", "Clara", "Eloise", "Harper", "Amalia",
#     "Marguerite", "Florine", "Estelle", "Genevieve", "Sabine",
#     "Odessa", "Lorelei", "Miriam", "Joanna", "Lenore",
#     "Viviana", "Cecile", "Delia", "Lucinda", "Aurora",
#     "Francesca", "Eliana", "Isobel", "Norah", "Camille",
#     "Selena", "Veronica", "Marina", "Adela", "Corinne",
#     "Penelope", "Rosalyn", "Evelyn", "Jocasta", "Beatrice",
#     "Cressida", "Natalia", "Florence", "Sophia", "Lyra",
#     "Octavia", "Philippa", "Sabina", "Clarissa", "Giselle",
#     "Ines", "Amara", "Elara", "Lucille", "Mattea"
# ]

# # Jeans
# jeans = [
#     "Diana", "Harper", "Juliette", "Sienna", "Isabel",
#     "Audrey", "Celeste", "Phoebe", "Emilia", "Florence",
#     "Margo", "Eleanor", "Claudia", "Colette", "Bianca",
#     "Anastasia", "Lena", "Amelie", "Louisa", "Monica",
#     "Rosa", "Thea", "Verity", "Naomi", "Tessa",
#     "Beatrix", "Delilah", "Eliza", "Helena", "Sylvia",
#     "Odette", "Simone", "Freya", "Camilla", "Vera",
#     "Gwen", "Margaux", "Adeline", "Clara", "Anneliese",
#     "Bridget", "Catherine", "Daphne", "Elinor", "Felicity",
#     "Georgina", "Hannah", "Isolde", "Jade", "Maribel"
# ]

## Doen Product Names

In [37]:
# # Doen Dresses
# url = 'https://www.shopdoen.com/collections/dresses?utm_source=google&campaign_id=10806218531&ad_id=724988960813&utm_medium=cpc&utm_campaign=actual_campaign_name_hardcoded&utm_content=104400744937&utm_term=&gclid=Cj0KCQiA4L67BhDUARIsADWrl7E0ZY9XqbDkatpsUlP50aYS24KA_m3tyCe0SNkiYI4icGTUFzKFJ7YaAoDHEALw_wcB&gad_source=1'
# response = requests.get(url)

# # response.status_code
# html = response.text
# soup = BeautifulSoup(html, "html.parser") 

# elements = soup.select(".full-unstyled-link") # Size

# for element in elements:
#     print(element.text.strip())

In [38]:
# # Doen Tops
# url = 'https://www.shopdoen.com/collections/tops'
# response = requests.get(url)

# # response.status_code
# html = response.text
# soup = BeautifulSoup(html, "html.parser") 

# elements = soup.select(".full-unstyled-link") # Size

# for element in elements:
#     print(element.text.strip())