# Libraries

In [61]:
import os
import pandas as pd
import glob

# Compile

In [62]:
file_path = "data/*.csv"
file_list = glob.glob(file_path)
file_list

['data/aguaByAguaBendita_top_20241229_22-43-16.csv',
 'data/zimmerman_top_20241229_22-43-24.csv',
 'data/reformation_skirt_20241229_22-43-19.csv',
 'data/reformation_top_20241229_22-43-21.csv',
 'data/doen_top_20241229_22-43-05.csv',
 'data/hill_house_skirt_20241229_22-43-09.csv',
 'data/hill_house_dress_20241229_22-43-08.csv',
 'data/aguaByAguaBendita_dress_20241229_22-43-12.csv',
 'data/aguaByAguaBendita_skirt_20241229_22-43-14.csv',
 'data/zimmerman_skirt_20241229_22-43-23.csv',
 'data/hill_house_top_20241229_22-43-11.csv',
 'data/zimmerman_dress_20241229_22-43-22.csv',
 'data/doen_skirt_20241229_22-43-07.csv',
 'data/doen_dress_20241229_22-43-03.csv',
 'data/reformation_dress_20241229_22-43-17.csv']

In [63]:
df = pd.DataFrame()

for file in file_list:
    df1 = pd.read_csv(file)
    df = pd.concat([df,df1], ignore_index = True)
    
df

,title,price,size,category,style,brand,ingest_timestamp
0,reformation women will oversize shirt long sle...,48.0,M,skirt,NaN,aguaByAguaBendita,2024-Dec-29-22:43:16
1,reformation top,34.0,XS,skirt,NaN,aguaByAguaBendita,2024-Dec-29-22:43:16
2,🌹reformation top,35.0,2,skirt,NaN,aguaByAguaBendita,2024-Dec-29-22:43:16
3,reformation women hearth long sleeve top peat ...,50.0,12,skirt,NaN,aguaByAguaBendita,2024-Dec-29-22:43:16
4,reformation novena white ruffle tie strap tank...,30.0,2,skirt,NaN,aguaByAguaBendita,2024-Dec-29-22:43:16
...,...,...,...,...,...,...,...
623,reformation granada dress (virgil),46.0,2,skirt,NaN,reformation,2024-Dec-29-22:43:17
624,reformation strada dress (black),52.0,S,skirt,NaN,reformation,2024-Dec-29-22:43:17
625,reformation jonah dress (haze),89.0,L,skirt,NaN,reformation,2024-Dec-29-22:43:17
626,reformation oxford dress (ivory),89.0,6,skirt,NaN,reformation,2024-Dec-29-22:43:17
627,reformation cameron silk dress (emerald),115.0,6,skirt,NaN,reformation,2024-Dec-29-22:43:17

# Remove Duplicates

In [64]:
[df.columns]

[Index(['title', 'price', 'size', 'category', 'style', 'brand',
        'ingest_timestamp'],
       dtype='object')]

In [65]:
df = df.sort_values(by = ['title', 'price', 'size', 'category', 'style','brand','ingest_timestamp'],
                    ascending = [True,True,True,True,True,True,False])

df = df.drop_duplicates(subset = ['title', 'price', 'size', 'category', 'style','brand'], keep = 'first')

In [66]:
df

,title,price,size,category,style,brand,ingest_timestamp
48,#49 zimmermann lace off shoulder top,66.0,6,skirt,NaN,zimmerman,2024-Dec-29-22:43:24
386,*nwt agua by agua bendita - orquídea frutal az...,75.0,NaN,skirt,NaN,aguaByAguaBendita,2024-Dec-29-22:43:14
298,agua agua bendita sucre cut-out poplin floral ...,95.0,S,skirt,NaN,aguaByAguaBendita,2024-Dec-29-22:43:12
367,agua and aguadilla milato fruit,220.0,XS,skirt,NaN,aguaByAguaBendita,2024-Dec-29-22:43:14
347,agua bendita astro esmeralda lavanda sarong pa...,110.0,One Size,skirt,NaN,aguaByAguaBendita,2024-Dec-29-22:43:14
...,...,...,...,...,...,...,...
106,🌹reformation top,35.0,2,skirt,NaN,reformation,2024-Dec-29-22:43:21
216,🐚 nwt • hill house paz skirt in blue shell mos...,15.0,XS,skirt,NaN,hill_house,2024-Dec-29-22:43:09
62,💎 reformation hollyhock dress - ivory,200.0,Various,skirt,NaN,reformation,2024-Dec-29-22:43:19
471,💢quick flash💢zimmerman dress,35.0,2,skirt,NaN,zimmerman,2024-Dec-29-22:43:22
86,💥 blow out sale 💥 nwt alexia admor maeve mini...,29.0,M,skirt,NaN,reformation,2024-Dec-29-22:43:19

# Write

In [67]:
df.to_csv("resell_prices.csv",index = False)